<% @doubles.each do |double| %>
  <%= link_to double do  %>
    <ul>
      <li>Browser: wmjQuery("<%=double.element%>",wmjQuery("iframe<%=double.iframe2%>",wmjQuery("iframe#<%=double.iframe1%>    ").contents()).contents())</li>
      <li>Editor: {"element":"<%=double.element%>","context":{"element":"iframe<%=double.iframe2%>","context":"iframe<%=double.iframe1%>"}}</li>
      <li>Comment: <%=double.comment%></li>
    </ul>
  <% end %>
<% end %>

