<% @singles.each do |single| %>
  <%= link_to single do  %>
    <ul>
      <li>Browser: wmjQuery("<%=single.element%>",wmjQuery("iframe<%=single.iframe%>").contents())</li>
      <li>Editor: {"element": "<%=single.element%>" ,"context": "iframe<%=single.iframe%>"}</li>
      <li>Comment: <%=single.comment%></li>
    </ul>
  <% end %>
<% end %>
